<section id="home" class="section section-home">
	<div class="container">
			<img class="img-responsive center-block" src="<%= asset_path('nimble-logo.png') %>" alt="nimble logo">
			<div class="text-center">
				<h3 class="sub-title">We Build BEAUTIFUL Apps<br>With STRONG Cores</h3>
			</div>
			<div class="row text-center">
				<div class="social-wrapper">
					<img class="" src="<%= asset_path('facebook.png') %>" alt="Facebook">
					<img class="" src="<%= asset_path('twitter.png') %>" alt="Twitter">
					<img class="" src="<%= asset_path('github.png') %>" alt="Github">
				</div>
				<h4 class="follow">Follow us</h4>
			</div>
			<div class="row text-center">
				<div class="paper-plane-wrapper">
					<a href="#contact">
						<img class="img-responsive center-block" src="<%= asset_path('paper-plane.png') %>" alt="Start your Project">
						<h4>Start your Project</h4>
					</a>
				</div>
			</div>
	</div>
</section>

<img class="divider-1" src="<%= asset_path('divider-a.png') %>">

<section id="services" class="section section-services">
	<div class="container">
		<div class="row text-center">
			<h1 class="title">We work as a start up</h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row row-clock">
			<div class="container">
				<div class="col-md-10 col-lg-9 col-centered">
					<div class="col-sm-6 col-md-6 pull-right">
						<div class="detail-wrapper">
							<h3>Faster iterations</h3>
							<p>We use a pragmatic agile methodology that enables us to deliver on time, adjust quickly and reduce your timeto market drastically.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 pull-left">
						<div class="clock-wrapper center-block">
							<img class="" src="<%= asset_path('clock.png') %>" alt="clock">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-iphone">
			<div class="container">
				<div class="col-md-10 col-lg-8 col-centered">
					<div class="col-sm-6 ccol-md-7">
						<div class="detail-wrapper">
							<h3>Flexible model</h3>
							<p>We work with you in the most convenient way for your business, either as a team addition or as your technical partner where we take care of every aspect of your product from UX/UI to infrastructure maintenance.</p>
						</div>
					</div>
					<div class="col-sm-6 ccol-md-5">
						<div class="iphone-wrapper center-block">
							<img class="img-responsive" src="<%= asset_path('iphone-ipad.png') %>" alt="iPhone / iPad">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-transparency">
			<div class="container">
				<div class="col-md-8 col-centered">
					<div class="col-md-12">
						<img class="img-responsive center-block" src="<%= asset_path('transparency.png') %>" alt="transparency">
					</div>
					<div class="col-md-12">
						<div class="detail-wrapper text-center">
							<h3>Transparency</h3>
							<p>As a client you are at the center of the process providing direct feedback in the planning, feature development and product operations.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<img class="divider-2" src="<%= asset_path('divider-b.png') %>">

<section id="works" class="section section-works">
	<div class="container">
		<div class="row text-center">
			<h1 class="title">What we do</h1>
		</div>
		<div class="row">

			<div class="col-sm-6 col-md-6">
				<div class="col-md-6">
					<img class="img-responsive center-block" src="<%= asset_path('mvp.png') %>" alt="MVP For Startups">
				</div>
				<div class="col-md-6">
					<h3>MVP For Startups</h3>
					<p>Let us become your tech team to build your Minimum Viable Product. Go fast from your idea to the launch of a solid and beautiful product to the market.</p>
				</div>
			</div>

			<div class="col-sm-6 col-md-6">
				<div class="col-md-6">
					<img class="img-responsive center-block" src="<%= asset_path('ruby.png') %>" alt="Ruby on Rails">
				</div>
				<div class="col-md-6">
					<h3>Ruby on Rails</h3>
					<p>We specialize in building scalable, secure and robust Ruby on Rails applications. We have expertise in several verticals such as e-commerce and consumer facing products.</p>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="col-sm-6 col-md-6">
				<div class="col-md-6">
					<img class="img-responsive center-block" src="<%= asset_path('mobile-apps.png') %>" alt="Mobile Apps">
				</div>
				<div class="col-md-6">
					<h3>Mobile Apps</h3>
					<p>We would love to build your native iOS or Android mobile application that brings your product experience to the hands of your users.</p>
				</div>
			</div>

			<div class="col-sm-6 col-md-6">
				<div class="col-md-6">
					<img class="img-responsive center-block" src="<%= asset_path('sos.png') %>" alt="S.O.S.">
				</div>
				<div class="col-md-6">
					<h3>S.O.S.</h3>
					<p>Our expertise in building, scaling and securing web and mobile application architectures, have helped our clients to delight their users.</p>
				</div>
			</div>

		</div>
	</div>
</section>

<section id="works2" class="section section-works2">
	<div class="container">
		<div class="row text-center">
			<h1 class="title">Some startups we have worked with</h1>
		</div>
		<div class="row">

			<div class="col-xs-10 col-sm-6 col-md-4 col-centered text-center">
				<div class="row">
						<div class="col-xs-3 col-xs-3 col-md-3">
							<img class="img-responsive center-block" src="<%= asset_path('duriana.png') %>" alt="Duriana">
						</div>
						<div class="col-xs-3 col-md-3">
							<img class="img-responsive center-block" src="<%= asset_path('zeemi.png') %>" alt="Zeemi">
							<h3>Zeemi.tv</h3>
						</div>
						<div class="col-xs-3 col-md-3">
							<img class="img-responsive center-block" src="<%= asset_path('p.png') %>" alt="P">
						</div>
						<div class="col-xs-3 col-md-3">
							<img class="img-responsive center-block" src="<%= asset_path('what-next.png') %>" alt="What's next">
						</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-5 col-centered text-center">
				<hr>
				<div class="row">
					<div class="col-xs-4 col-md-4">
						<img class="quotation img-responsive center-block" src="<%= asset_path('quotation-open.png') %>" alt="">
					</div>
					<div class="col-xs-4 col-md-4">
						<img class="img-responsive center-block img-circle team-img-shadow" src="<%= asset_path('jeremy.jpg') %>" alt="Jeremy Renner">
					</div>
					<div class="col-xs-4 col-md-4">
						<img class="quotation img-responsive center-block" src="<%= asset_path('quotation-close.png') %>" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="team-title">
							<h4>Jeremy Renner</h4>
							<h5 class="position">CEO</h5>
						</div>
						<h6>Vivamus sed diam imperdiet, maximus nunc vel, dignissim sem. Nam dignissim elit etligula iaculis pharetra. Sed sollicitudin tellus in ligula eleifend,sed commodo lectus vestibulum. Aenean sed orci dictum, porta dui sed, consequat leo.</h6>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>

<img class="divider-3" src="<%= asset_path('divider-c.png') %>">

<section id="team" class="section section-team">
	<div class="container">
		<div class="row text-center">
			<h1 class="title">Team</h1>
		</div>
		<div class="row">
			<div class="col-md-10 col-centered">

				<div class="col-sm-6 col-md-4 text-center">
					<img class="img-responsive center-block img-circle" src="<%= asset_path('olivier.jpg') %>" alt="Olivier Robert">
					<div class="team-title">
						<h4>Olivier Robert</h4>
						<h5 class="position">Co Founder</h5>
					</div>
					<p>Developer and problem solver with strong experience in early-stage start-ups. Raised on a French remote island, he is now almost a local in Thailand.</p>
				</div>
				<div class="col-sm-6 col-md-4 text-center">
					<img class="img-responsive center-block img-circle" src="<%= asset_path('carlos.jpg') %>" alt="Carlos Herrera">
					<div class="team-title">
						<h4>Carlos Herrera</h4>
						<h5 class="position">Co Founder</h5>
					</div>
					<p>Developer and problem solver with strong experience in early-stage start-ups. Raised on a French remote island, he is now almost a local in Thailand.</p>
				</div>
				<div class="col-sm-6 col-md-4 text-center">
					<img class="img-responsive center-block img-circle" src="<%= asset_path('tawin.jpg') %>" alt="Tawin Supayanant">
					<div class="team-title">
						<h4>Tawin Supayanant</h4>
						<h5 class="position">Developer</h5>
					</div>
					<p>Developer and problem solver with strong experience in early-stage start-ups. Raised on a French remote island, he is now almost a local in Thailand.</p>
				</div>
				<div class="col-sm-6 col-md-4 text-center">
					<img class="img-responsive center-block img-circle" src="<%= asset_path('sarun.jpg') %>" alt="Sarun Rattanasiri">
					<div class="team-title">
						<h4>Sarun Rattanasiri</h4>
						<h5 class="position">Software engineer</h5>
					</div>
					<p>Developer and problem solver with strong experience in early-stage start-ups. Raised on a French remote island, he is now almost a local in Thailand.</p>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-sm-6 col-md-4 text-center">
					<img class="img-responsive center-block img-circle" src="<%= asset_path('prakarn.jpg') %>" alt="Prakarn Wongsanit">
					<div class="team-title">
						<h4>Prakarn Wongsanit</h4>
						<h5 class="position">Software engineer</h5>
					</div>
					<p>Developer and problem solver with strong experience in early-stage start-ups. Raised on a French remote island, he is now almost a local in Thailand.</p>
				</div>
				<div class="col-sm-6 col-md-4 text-center">
					<img class="img-responsive center-block img-circle" src="<%= asset_path('supawich.jpg') %>" alt="Supawich Pruegsapraiboon">
					<div class="team-title">
						<h4>Supawich Pruegsapraiboon</h4>
						<h5 class="position">Designer</h5>
					</div>
					<p>Developer and problem solver with strong experience in early-stage start-ups. Raised on a French remote island, he is now almost a local in Thailand.</p>
				</div>

			</div>
		</div>
	</div>
</section>

<img class="divider-4" src="<%= asset_path('divider-d.png') %>">

<section id="contact" class="section section-contact">
	<div class="container">
		<div class="row text-center">
			<h1 class="title">Contact us</h1>
		</div>
		<div class="row">

			<div class="col-md-6 col-centered">
				<div class="row parent col-centered">
					<div id="select-start" class="col-md-6 child">
						<div class="text-center">
							<img class="img-responsive center-block" src="<%= asset_path('paper-plane.png') %>" alt="Start your Project">
							<h4>Start your Project</h4>
							<img id="line-start" class="center-block" src="<%= asset_path('line-selected.png') %>" alt="">
						</div>
					</div>
					<div id="select-join" class="col-md-6 child">
						<div class="text-center">
							<img class="img-responsive center-block" src="<%= asset_path('paper.png') %>" alt="Join our team">
							<h4>Join our team</h4>
							<img id="line-join" class="center-block" src="<%= asset_path('line-unselect.png') %>" alt="">
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-md-6 col-centered">
				<div class="row text-center">
					<div class="col-md-6">
						<input type="text" class="form-control" id="input-name" placeholder="Name">
					</div>
					<div class="col-md-6">
						<input type="email" class="form-control" id="input-email" placeholder="Email">
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" id="input-company" placeholder="Company name">
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" id="input-industry" placeholder="Industry">
					</div>
					<div class="col-md-12">
						<textarea class="form-control" rows="3" placeholder="More details about your project"></textarea>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-primary">Send</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

